<div class=container>
  <div class='game-box'>
    <h1>Results</h1>
    <!-- <p>Find me in app/views/games/score.html.erb</p> -->

    <p class='results'><%= @message %></p>

    <%= link_to 'Play Again', '/new' %>
  </div>
</div>
